<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Instalação de Componentes</h4>
                <div class="table-responsive">
                  <% if (installs.length > 0) { %>
                    <table class="table">
            <thead>
              <tr>
                <th>Arduino</th>
                <th>Componente</th>
                <th>Porta do Arduíno</th>
                <th>Tipo da porta</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
          
              <% installs.forEach(function(install, index){ %>
                <%- include('cards', {install: install, index: index}); %>
                  <% }); %>
            </tbody>
          </table>
          <% } %>
          <h4>&nbsp;</h4>
          <form action="/install/add" method="POST" class="form-inline">
          
            <input type="hidden"  value="<%= arduinoId %>" name="arduino">

            <select class="btn btn-outline-primary" id="componente" name="componente" type="text" >          
            <% componentes.forEach(function(componente){ %>
              <option value="<%= componente._id %>"  ><%= componente.name %> - <%= componente.tipoPorta %></option>            
            <% }); %>
            
            </select>
          &nbsp;
          <div class="form-group">
              <input type="text" name="portaArduino" id="portaArduino" class="btn btn-outline-info" placeholder="Porta do Arduíno"/>
            </div>
            &nbsp;
                <button type="submit" class="btn btn-outline-success" >
                    + Instalar Componente
                </button>
            </form>


            </div>
        </div>
    </div>
</div>