<!DOCTYPE html>
<html>
  <head>
    <%- include ('./partials/head') %>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <%- include ('./partials/menuLateralTpl') %>
        
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <%- include ('./partials/menuTopoTpl') %>
            
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
              <%- include ('./partials/msgTopoTpl') %>
              <%- include ('./partials/blocoPercentTpl') %>
              <%- include ('./partials/blocoDetailTpl') %>
              <%- include ('./partials/vendasTpl') %>
              <%- include ('./partials/tabelaVendasTpl') %>
              <%- include ('./partials/bloco3em1Tpl') %>
              <%- include ('./partials/visitantesTpl') %>
              
              <%- include ('./partials/tabelaVendasTpl') %>
              
              <div class="row ">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Usuários</h4>
                            <div class="table-responsive">
                                <%- body %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <!-- content-wrapper ends -->
            <%- include ('./partials/footerTpl') %>
            
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<%- include ('./partials/blocoJsTpl') %>
  </body>
</html>